
    <a asp-area="Identity" asp-page="/Account/Register"><button class="btn btn-outline-orange ml-5">Register</button></a>
    <a asp-area="Identity" asp-page="/Account/Login"><button class="btn btn-outline-orange ml-1">Login</button></a>

